<div class="show-div">
    <div class="show-div-child">
        <h2>
            <%= @post.title %>
        </h2>
        <p>
            <%= @post.body %>
        </p>
        <p>
            <%= @post.created_at %>
        </p>
        <%= link_to "Edit" , edit_post_path(@post) %>
            <%= link_to "Delete" , post_path(@post), method: :delete, data: {confirm: "Are you sure" } %>
    </div>
    <hr>


    <h2>Write a Review</h2>
    <%= form_for @review, url: post_reviews_path(@post), method: :post do |f| %>
        <%= f.text_area :body %> <br>
            <%= f.submit "Save Review", :class => "btn btn-outline-secondary" %>
                <% end %>
                <hr>

        <h3>Reviews:</h3>
        <% @reviews.each do |review| %>
            <%= review.body %>
                <br>
                <small>
                    <%= time_ago_in_words(review.created_at) %>
                </small> <br>
                <% end %>


</div>